/*
Colors
White smoke: #f8f8f8
Dim gray: #626262
Silver: #dcdcdc
*/

*,
body {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: #f8f8f8;
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
}

/* Nav */
nav {
  width: 100%;
}

.container-nav {
  width: 1200px;
  height: 50px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}

.container-nav .fa-user,
.fa-home {
  padding: 10px 0 0 60px;
  font-size: 25px;
  color: #626262;
}

.container-nav h1 {
  font-size: 30px;
  padding: 5px 0;
  color: #626262;
  margin: 0 auto;
}

h1 .silver {
  color: #dcdcdc;
}

.container-nav .links {
  padding: 0 50px 0 0;
}

.container-nav .upper-git,
.fa-linkedin {
  font-size: 25px;
  margin: 0;
  padding: 5px;
  color: #626262;
}

/* Content */
.container-frames {
  width: 1200px;
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* a:hover {
  background-color: black;
} */

.frame {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffff;
  border-radius: 4px;
  position: relative;
}

.img {
  width: 300px;
  max-height: 150px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid lightgray;
}

.frame .view {
  width: 60px;
  height: 60px;
  background-color: black;
  /* border: 0.5px solid white; */
  border-radius: 50%;
  position: absolute;
  top: 30%;
  left: 40%;
}

.view p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.container-text {
  padding: 10px;
  text-align: center;
}

.container-text .app-name {
  padding: 20px 0 0;
  color: #626262;
}

.container-text .description {
  padding: 0 20px;
  color: #c4c4c4;
}

.lower-git {
  color: #626262;
  font-size: 20px;
  display: block;
}

/* Frame Alt */
.frame-alt {
  width: 300px;
  height: 550px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffff;
  border-radius: 4px;
  position: relative;
}

.margin-up {
  margin: -100px auto;
}

.margin-down {
  margin: 50px auto;
}

.img-alt {
  width: 300px;
  height: 300px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid lightgray;
}

.frame-alt .view-alt {
  width: 60px;
  height: 60px;
  background-color: black;
  /* border: 0.5px solid white; */
  border-radius: 50%;
  position: absolute;
  top: 49%;
  left: 40%;
}

.view-alt p {
  color: white;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.container-text-alt {
  padding: 10px;
  text-align: center;
}

.container-text-alt .app-name-alt,
.description-alt {
  text-align: center;
}

.container-text-alt .app-name-alt {
  padding: 20px 0 0;
  color: #626262;
}

.container-text-alt .description-alt {
  padding: 0 20px;
  color: #c4c4c4;
}

/* About Page */

.container-text .about {
  padding: 20px 0 0;
  color: #626262;
}

.container-text .about-description {
  padding: 20px 0 0;
  color: #626262;
}
